{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{grad.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Last_name">Last Name</label>
            <input id="Last_name" type="text" class="form-control" placeholder="Last Name" name="Last_name" value="{{grad.Last_name}}">
        </div>
        <div class="col">
            <label for="First_name">Last Name</label>
            <input id="First_name" type="text" class="form-control" placeholder="First Name" name="First_name" value="{{grad.First_name}}">
        </div>
        <div class="col">
            <label for="SSN">SSN</label>
            <input id="SSN" type="text" class="form-control" placeholder="SSN" name="SSN" value="{{grad.SSN}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Test1">Test1</label>
            <input id="Test1" type="text" class="form-control" placeholder="Test 1" name="Test1" value="{{grad.Test1}}">
        </div>
        <div class="col">
            <label for="Test2">Test2</label>
            <input id="Test2" type="text" class="form-control" placeholder="Test 2" name="Test2" value="{{grad.Test2}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Test3">Test3</label>

            <input id="Test3" type="text" class="form-control" placeholder="Test 3" name="Test3" value="{{grad.Test3}}">
        </div>

          <div class="col">
            <label for="Test4">Test4</label>

            <input id="Test4" type="text" class="form-control" placeholder="Test 4" name="Test4" value="{{grad.Test4}}">
        </div>
          <div class="col">
            <label for="Final">Final</label>

            <input id="Final" type="text" class="form-control" placeholder="Final" name="Final" value="{{grad.Final}}">
        </div>
          <div class="col">
            <label for="Grade">Grade</label>

            <input id="Grade" type="text" class="form-control" placeholder="Grade" name="Grade" value="{{grad.Grade}}">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>


</form>
{% endblock %}