{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">SSN</th>
        <th scope="col">Test1</th>
        <th scope="col">Test2</th>
        <th scope="col">Test3</th>
        <th scope="col">Test4</th>
        <th scope="col">Final</th>
        <th scope="col">Grade</th>

    </tr>
    </thead>
    <tbody>
    {% for grad in grade %}
    <tr>
        <td><a href="view/{{grad.id}}">{{ grad.Last_name }}</a></td>

        <td>{{ grad.First_name }}</td>
        <td>{{ grad.SSN }}</td>
        <td>{{ grad.Test1 }}</td>
        <td>{{ grad.Test2 }}</td>
        <td>{{ grad.Test3 }}</td>
        <td>{{ grad.Test4 }}</td>
        <td>{{ grad.Final }}</td>
        <td>{{ grad.Grade}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}