{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ grad.Last_name }} - {{ grad.First_name }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">SSN: {{ grad.SSN }}</li>
        <li class="list-group-item">Test1: {{ grad.Test1 }}</li>
        <li class="list-group-item">Test2: {{ grad.Test2 }}</li>
        <li class="list-group-item">Test3: {{ grad.Test3 }}</li>
        <li class="list-group-item">Test4: {{ grad.Test4 }}</li>
        <li class="list-group-item">Final: {{ grad.Final }}</li>
        <li class="list-group-item">Grade: {{ grad.Grade }}</li>
    </ul>

    <div class="card-body">
        <a href="/edit/{{grad.id}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>
<form action="/delete/{{grad.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>

